<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./../elements/head %>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="./../">Start Bootstrap</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <% include ./../elements/search %>

    <!-- Navbar -->
    <% include ./../elements/narvar %>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <% include ./../elements/sidebar %>
    <!-- lọc sản phẩm -->
    <div id="sidebar" class="left">
      <div class="sidebar_box"><span class="bottom"></span>
          <h3>Phân loại</h3>   
          <div class="content"> 
              <ul class="sidebar_list">  
                
                  <li ><a href="./../manager/hoa/0" > Hoa</a></li>  
                  <li><a href="./../manager/caykieng/0">Cây kiểng</a></li>
                  <li><a href="./../manager/raumam/0">Rau mầm</a></li>
                  <li><a href="./../manager/rauxanh/0">Rau xanh</a></li>
                  <li><a href="./../manager/cu/0">Củ</a></li>
                  <li><a href="./../manager/duoclieu/0">Dược liệu</a></li>
              </ul>
          </div>
      </div>
      <div class="sidebar_box"><span class="bottom"></span>
          <h3>Top</h3>   
          <div class="content"> 
              <ul class="sidebar_list">
                  <!-- <li><a href="#">Sản phẩm phổ biến</a></li> -->
                  <li><a href="./../manager/low_price/0">Sản phẩm giá thấp</a></li>
                  <li><a href="./../manager/hight_price/0">Sản phẩm giá cao</a></li>
              </ul>
          </div>
      </div>
      <div class="sidebar_box"><span class="bottom"></span>
          <h3>Weekly Special</h3>   
          <div class="content special"> 
              <!--<img src="images/templatemo_image_01.jpg" alt="Flowers" />
              <a href="#">Citrus Burst Bouquet</a>
              <p>
                  Price:
                  <span class="price normal_price">$160</span>&nbsp;&nbsp;
                  <span class="price special_price">$100</span>
              </p> -->
              <ul class="sidebar_list">
                  <li><a href="#">giảm giá, khuyến mãi</a></li>
                  <li><a href="#">quà tặng</a></li>
              </ul> 
           </div>
      </div>
  </div>
  
    <div id="content-wrapper">

      <div class="container-fluid">
  <!-- Breadcrumbs-->
  
        

        <!-- DataTables Example -->
        <div class="card mb-3">
          <!-- <div class="card-header">
            <i class="fas fa-table"></i>
           Quản lý Sản Phẩm</div> -->
           <a href="./../manager/add-product" class="btn btn-success pull-right ">Add Product</a>
          <div class="card-body">

            
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th> Ảnh minh họa</th>
                      <th>Tên sản Phẩm</th>
                      <th>Loại</th>
                      <th>Giá</th>
                      <th>Mô tả</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(Products) {  %>
                      <% while(i!= Products.length ){ %>
                     <tr>
                        <td><a href="./../manager/product_detail"><img src=<%= Products[i].imagPath %> alt="floral 1"
                            style="width:165px;height:165px;" /></a>
                        </td>
                        <td><%= Products[i].name %></td>  
                        <td><%= Products[i].type %></td>
                        <td><%= Products[i].price %></td>
                        <td><%= Products[i].description %></td>
                        <td>
                          <a href="./../manager/update-product" class="btn btn-success ">Update</a>
                         <!-- <input class="btn btn-primary" type="button" value="Update"> -->
                              
                      </td>
                      <%  i=i+1;  %>
                      <% }   %>
                      <% } %>
                   </tr>
                  </tbody>
                </table>
                
                
            </div>
          </div>
        </div>
        

        <!-- <p class="small text-center text-muted my-5">
          <em>More table examples coming soon...</em>
        </p> -->

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <% include ./../elements/footer %>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  
  <% include ./../elements/logout %>
  <!-- Bootstrap core JavaScript-->
  
  <!-- Core plugin JavaScript-->
  <% include ./../elements/script %>

</body>

</html>
